target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.history/
*.code-workspace

# === Java / Maven ===
target/
*.class
*.jar
*.war
*.ear
.mvn/
.factorypath

# === Node.js / Vue Frontend ===
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

/vivien-server.toml

/public/

/cache/
/node
/frontend/src/types/vivien-generated.d.ts
