# Vivien Server Konfiguration
mode = "hosted" # Wir entwickeln mit hosted, weil dabei der Browser nicht geöffnet wird

# Das Git-Repository, auf dem Vivien arbeiten soll
repo_url = "https://github.com"
git.user = <Git_USER>
git.token = <GIT_TOKEN>
git.resolve = "ours"
repo_path = "./game-repo"
engine_plugin = "Unity"

[server]
host = "localhost"
port = 8080
security = "lax"
users = [ "Anna", "Fufu" ]
password = "*****"

[preview]
compression = 0.5

# Erlaubte Upload Formate (Optional)
formats = "png,jpg,jpeg,tif,tiff,tga,txt,md,json,yaml,wav,mp3,acc,ogg"

[views.admin]
excludes = [ ".meta" ]

[views.artist]
root = "Assets"
includes = [ "*.png", "*.jpg", "*.tga", "*.tif", "*.svg" ]
excludes = [ ".idea/", ".git/", ".meta" ]
