# Vivien Server Konfiguration
mode = "hosted" # Wir entwicklen mit hosted, weil dabei der Browser nicht geöffnet wird

# Das Git-Repository, auf dem Vivien arbeiten soll
repo_url = "https://github.com"
local_repo_path = "./game-repo"

[server]
host = "localhost"
port = 8080
security = "lax"
user = "admin"
password = "*****"