@import "tailwindcss";

@theme {
  /* SCHRIFTEN */
  --font-sans: "Inter", "Roboto", system-ui, sans-serif;
  --font-mono: "Courier New", mono;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.75rem;

  /* --- HINTERGRÜNDE & RAHMEN --- */
  --color-vit-bg: #12101c;          /* Basis-Hintergrund der gesamten App */
  --color-vit-surface: #211d30;     /* Für Boxen, Panels, Karten, Tabellen */
  --color-vit-border: #36324e;      /* Klar definierte Trennlinien */

  /* --- KONTRASTE & BRANDING --- */
  --color-vit-primary: #7733ff;		/* Primary hat immer einen vertikalen Gradienten */
  --color-vit-primary2: #cc33ff;	/* Gradient Oben */
  --color-vit-secondary: #00cc99;

  /* --- HIGHLIGHTS & STATUS --- */
  --color-vit-highlight: #fbd38d;   /* Pastell-Orange für Marker, Achtung-Meldungen */
  --color-vit-accent: #00ffbf;      /* Kräftiger für aktive Tab-Zustände, Fokus */
  --color-vit-accent-bg: #06806c;	/* Für vollflächige Elemente */
  --color-vit-danger: #e66416;
  --color-vit-danger-bg: #211d30;
  --color-vit-succes: #00ffbf;
  --color-vit-failed: #ebaa47;
  --color-vit-accent2: #66bbee;

  /* -- BUTTONS & INTERACTION --- */
  --color-vit-btn: #2e2a42;
  --color-vit-btn-hover: #7b73a5;
  --radius-vit-btn-radius: 20px;	/* Button Seiten komplett rund bei normaler Größe */
  --color-vit-btn-danger: #ebaa47;
  --color-vit-btn-danger-hover: #fbd38d;

  /* --- TEXTFARBEN --- */
  --color-vit-text-main: #f7fafc;   /* Extrem gut lesbares Weiß */
  --color-vit-text-muted: #a0aec0;  /* Für kleinere Infos oder Tabellen-Überschriften */
  --color-vit-text-danger: #ebaa47;

  /* --- GEOMETRIE --- */
  --radius-vit-panel-radius: 8px;         /* Eckenrundung für Inputs und Panels */
  --shadow-vit-shadow: 0 2px 6px rgba(0, 0, 0, 1);
  --shadow-vit-inset: inset 0 0 8px rgba(0, 0, 0, 0.5)
}

/* Native HTML-Elemente direkt stylen */
html, body {
  background-color: var(--color-vit-bg);
  color: var(--color-vit-text-main);
  font-family: var(--font-sans);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

input::placeholder {
	color: var(--color-vit-text-muted);
	opacity: 0.5;
}

/* Primär Farbverlauf */
@utility primary-gradient
{
	background-image: linear-gradient(
    	to top, 
		var(--color-vit-primary), 
		var(--color-vit-primary2)
	);
}